
/* Header Styling */
#header {
    margin-top: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 2px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    position: fixed;
    width: 100%;
    z-index: 999;
    /* opacity: 0.9;  */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw; /* Centered container */
    margin: 0 auto;
    padding: 0 20px; /* Padding for small screens */
}

/* Logo Section */
.logo-section {
    width: 20vw;
    height: 50px;
    margin-left: 0vw;
    display: flex;
    align-items: left;

    gap: 15px;
}

.logo {
    width: 20vw;
    height: 50px;
    border-radius: 50%; 
    object-fit: cover;
}

/* .firm-name {
    font-size: 1.0rem;
    font-weight: bold;
    color: #000000; 
    margin: 0;
} */

/* Navigation Bar */
.nav-bar {
    height: 50px;
    line-height: 50px;
}
.nav-bar .nav-items {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-bar .nav-items li {
    display: inline;
}

.nav-bar .nav-items a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-bar .nav-items a:hover {
    color: #73c5ff; /* Highlight color on hover */
}

/* Call-to-Action Button */
.cta-button {
    background-color: #73c5ff; 

    margin-right: 0vw;
    width: 20vw;
    height: 50px;
  
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: #73c5ff; 
    transform: scale(0.90); /* Slight zoom effect */
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* Hide the dropdown toggle by default */
.dropdown-toggle {
    display: none;
}