
/* Layout skeleton */
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Main Elements */
html, body {
    --e-global-color-primary: #006680;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #006680;
    --e-global-color-4f90d1c6: #6EC1E4;
    --e-global-color-60b5bb8d: #61CE70;
    --e-global-color-5a86ad4f: #4054B2;
    --e-global-color-83fd2a: #23A455;
    --e-global-color-14cdbdac: #000;
    --e-global-color-54458148: #FFF;
    --e-global-color-1f418765: #F0F3F6;
    --e-global-typography-primary-font-family: "Barlow Condensed";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Barlow Condensed";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Barlow";
    --e-global-typography-text-font-size: 18px;
    --e-global-typography-text-font-weight: 300;
    --e-global-typography-accent-font-family: "Barlow Condensed";
    --e-global-typography-accent-font-weight: 500;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.6em;
    height: 100%; /* Ensure full viewport height */
    width: 100wv;
    margin: 0; /* Remove default margins */
}

